:javascript
  jQuery('#activity_description #approve_activity').bind('click', function() {
      jQuery.ajax({
          type: 'POST',
          url: "activities/#{@activity.id}/approve",
          data: ({ value : this.getAttribute('approve_activity') })
      });
  );


%table#activity_description
  %tr
    %td.title Name:
    %td= @activity.name
  %tr
    %td.title Total Budget for FY 10-11:
    %td= @activity.budget
  %tr
    %td.title Total Expenditures for FY 09-10:
    %td= @activity.spend
  %tr
    %td.title Description:
    %td= @activity.description
  %tr
    %td.title
      = label_tag 'approve_activity', "Approved?"
      = check_box_tag 'approve_activity', true, checked = false